li.photo-and-brief-item
  a(href="#{itemHref}")
    .image-wrap
      img(src="#{itemSrc}", alt="#{itemTitle}")
    .date-type
      span.date #{itemDate}
      span.type #{itemType}
    .title #{itemTitle}